page-returnsuccess {
    .background{
        background: url('../../assets/imgs/borrow.png') no-repeat center fixed; 
        background-size: cover;
    }
    .btnPosition{
        position: relative;
        left: 5px;
        top: 275px;
    }
}
