<ion-header>

  <ion-navbar text-center>
    <ion-title>Item Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #eeeeee">
  <ion-row>
    <ion-col col-12 text-center>
    
          <p style="font-size: 25px;margin: 0;">{{items.name}}</p>
          <div *ngIf="items.img != undefined">
            <img src="{{items.img}}">
          </div>

          <div *ngIf="items.img == null">
            <img src="../../assets/icon/picture.png" max-width="250px" height="250px">
          </div>
       

       
          <p style="font-size: 20px;">รายละเอียด</p>
          <p>{{items.desc}}</p>
          <ion-col col-12 text-center>

            <ion-row text-center>
              <ion-col col-6 text-right>
                <div class="item_border" text-center> จำนวนทั้งหมด : {{items.totalamount}} </div>

              </ion-col>

              <ion-col col-6 text-left>
                <div class="item_border" text-center> จำนวนที่เหลือ : {{items.amount}}</div>
              </ion-col>

            </ion-row>
          </ion-col>

      

     



    </ion-col>


  </ion-row>



</ion-content>

<ion-footer class="ion-footer">
  <!-- <ion-col col-6>
    <button ion-button block >EDIT</button>
  </ion-col>
  <ion-col col-6>
    <button ion-button block >DELETE</button>
  </ion-col> -->
  <div text-center>
    <button class="btnMenu" ion-button outline (click)="edit(items.id)">
        <ion-icon ios="ios-color-wand" md="md-color-wand">
        <ion-segment-button>
          แก้ไข
        </ion-segment-button>
      </ion-icon>
    </button>
    <button class="btnMenu" ion-button outline (click)="showConfirm(items.id)">
        <ion-icon ios="ios-trash" md="md-trash">
        <ion-segment-button>
          กุญแจ
        </ion-segment-button>
      </ion-icon>
    </button>
  </div>
</ion-footer>