<ion-header>
  <ion-navbar color="primary">
    <ion-title>Edit Item</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div text-center style="background-color: #eeeeee;padding:30px;">
    <div *ngIf="items.img != undefined">
      <img src="{{this.items.img}}">
    </div>

    <div *ngIf="items.img == undefined">
      <img src="../../assets/icon/picture.png" width="200px" height="200px">
    </div>
    <p>Edit</p>
  </div>

  <div style="padding: 30px;">
    <ion-input type="text" placeholder="Item Name" [(ngModel)]="items.name"></ion-input>
    <br>
    <ion-input type="number" placeholder="Totol Amount" [(ngModel)]="items.totalamount"></ion-input>
    <br>
    <ion-input type="text" placeholder="Description" [(ngModel)]="items.desc"></ion-input>
  </div>

</ion-content>

<ion-footer>
  <ion-row>
   
    <ion-col col-12>
      <button ion-button block (click)="showConfirm()">ok</button>
    </ion-col>
  </ion-row>
</ion-footer>