page-return {
    .background{
        background: url('../../assets/imgs/noreturn.png') no-repeat center fixed; 
        background-size: cover;
    }
    .no_bg{
        background-color:#eeee;
    }
}
