<ion-header>
  <ion-navbar>
    <ion-title>Returnlist</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid *ngFor="let Redata of ReturnItemslot; let i = index">
    <div *ngFor="let Reitems of Redata.items | groupBy:'slot'">

      <ion-item-divider color="light">{{Reitems.key}}</ion-item-divider>

      <ion-row *ngFor="let dataValue of Reitems.value">

        <ion-col col-4>
          <ion-checkbox color="blue" (ionChange)="checkeditem(dataValue,$event,Redata.id,i,dataValue.Returnqty)"></ion-checkbox>
        </ion-col>
        <ion-col col-4>
          <p>{{dataValue.name}}</p>
        </ion-col>
        <ion-col col-4>
          <form [formGroup]="checkform">
              <ion-input type="number" min="0" max="{{dataValue.qty}}" [(ngModel)]="dataValue.Returnqty" formControlName="Returnqty" placeholder="จำนวนที่ต้องการคืน" (ionChange)="checkedqty(dataValue,dataValue.Returnqty)"  
              [class.error1]="!checkform.controls.Returnqty.valid"></ion-input>
              <ion-item no-lines *ngIf="( checkform.get('Returnqty').hasError('minlength') || checkform.get('Returnqty').hasError('maxlength') ||checkform.get('Returnqty').hasError('pattern') ||checkform.get('Returnqty').hasError('required') ) && checkform.get('Returnqty').touched">
                  <div class="error" *ngIf="checkform.get('Returnqty').hasError('required') && checkform.get('Returnqty').touched">
                    Please input your Returnqty
                  </div>
                  <div class="error" *ngIf="checkform.get('Returnqty').hasError('maxlength') && checkform.get('Returnqty').touched">
                    Maximum 10 
                  </div>
                </ion-item>
          </form>
         
        </ion-col>

      </ion-row>

    </div>
  </ion-grid>


</ion-content>
<ion-footer>
  <button ion-button block (click)="waitperson()" [disabled]="checkform.invalid">ok</button>
</ion-footer>